<ion-content class="backgroundImage">
  <ion-text class="title">
    <p>Le bateau de Thibault</p>
  </ion-text>
  <ion-text>
    <img height="200" width="150" class="center" src="assets/TIG.png">
    <p class="telephone">06.63.99.99.78</p>
    <p class="mailfacebook">
      lebateaudethibault@gmail.com<br>
      www.facebook.com/lebateaudethibault
    </p>
  </ion-text>
  <ion-text>
    <p class="texte">
      Qu'il est chaud le soleil<br>
      Quand nous sommes en vacances<br>
      Y a d'la joie, des hirondelles<br>
      C'est le sud de la France<br>
      Papa bricole au garage<br>
      Maman lit dans la chaise longue<br>
      Dans ce joli paysage<br>
      Moi, je me balades en tongs<br>
      <br>
      Que de bonheur!<br>
      Que de bonheur!
  </p>
  </ion-text>
</ion-content>
